<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <!--/* 게시글 영역 */-->
    <div class="table-responsive clearfix">
        <div class="btn_wrap text-center">


        </div>
        <table class="table table-hover">
            <thead style="text-align: center">
            <tr>
                <th>소개</th>
            </tr>
            </thead>
            <!--/* 게시글 리스트 Rendering 영역 */-->
            <tbody style="text-align: center">
           
            </tbody>
        </table>
    </div>
</div>
</html>