<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }

        .margin {
            margin-bottom: 30px;
        }

        /*.banner {*/
        /*    height: 300px;*/
        /*    position: absolute;*/
        /*    top: 0;*/
        /*    left: 0;*/
        /*    width: 100%;*/
        /*    height: 70%;*/
        /*}*/

        .card-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        a:hover {
            text-decoration: none;
        }

        .center {
            text-align: center;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <!--    <div id="carouselControls" class="carousel slide margin" data-ride="carousel">-->
    <!--        <div class="carousel-inner">-->
    <!--            <div class="carousel-item active item">-->
    <!--                <img class="d-block w-100 banner" src="/banner_img.jpeg" alt="First slide">-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-2 margin">
                <div class="card h-100">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemName}" height="300px">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 15px;">[[${item.itemName}]]</h4>
                            <p class="card-text" style="font-size: 15px;">[[${item.itemDetail}]]</p>
                            <h3 class="card-title" style="font-size: 15px;">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                   aria-label='Previous' class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}"
                   th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}"
                   aria-label='Next' class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="map" style="width:100%; height:400px;">
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a2ce9f77bffc6bf44da3cc3a64b45f21"></script>
        <script>
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(37.500369, 126.848096),
                level: 3
            };
            var map = new kakao.maps.Map(container, options);
        </script>
    </div>

</div>