<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<nav>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/introduce/list}">소개</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/board/list}">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/movie/list}">구현중</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://www.github.com/kimsunho940904">깃허브</a>
        </li>
    </ul>
</nav>
<body>

열심히 구현중 입니다 ㅠㅠ 기다려주세요.

</body>
</html>