<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select {
            margin-right: 10px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <p class="h2">
        게시판
    </p>
    <div style="text-align:right"></div>
    <button type="button" class="btn btn-secondary" onclick="location.href='/board/new'">글 등록</button>

    <table class="table">
        <thead>
        <tr>
            <td>글번호</td>
            <td>제목</td>
            <td>내용</td>
            <td>등록자</td>
            <td>등록일</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td><a th:text="${board.id}"></a></td>
            <td><a th:text="${board.title}"></a></td>
            <td><a th:text="${board.content}"></a></td>
            <td><a th:text="${board.createdBy}"></a></td>
            <td><a th:text="${board.regTime}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

</html>