<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
    <hr>
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            <a th:href="@{http://kimsunho940904.shop}" target="_blank">개인 웹 / </a>
            <a th:href="@{https://www.github.com/kimsunho940904}" target="_blank">github / </a>
            <a th:href="@{https://velog.io/@kimsunho940904}" target="_blank">velog</a>

        </div>
    </footer>
</div>
</html>